<h1>resto's</h1>


<%@restaurants.each do |restaurant|%>
<ul>
<li><%=restaurant.name %></li>
<li><%=restaurant.cuisine%></li>
<li><%=restaurant.description%></li>
<%if logged_in?  %>
<li><a href="/review/<%=restaurant.id%>/new">review this joint</a></li>
<% if restaurant.reviews.where(user_id: current_user.id).length >= 1 %>
<li><a href="/review/<%=restaurant.reviews.first.id%>/edit">edit your review for this place</a></li>
<%end%>
<%end%>
<%if logged_in? && current_user.id == restaurant.user_id %>
<li><a href="/restaurant/<%=restaurant.id%>/edit">this is your joint -- edit it</a></li>
<%end%>
</ul>
<%end%>
